<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E4FEFDA19575BE100351305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E4FEFE519575BE100351305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C7DFC5A1A9102BD005AA3F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C7DFC641A9102BD005AA3F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D7CCDE1B9465A700EE7221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
