@import './style.css';

body {
  background: #5DBACA;
  font-size: 18px;
}

.wrapper {
  background: -webkit-linear-gradient(#6DD2DB, #5DBACA);
  background: -o-linear-gradient(#6DD2DB, #5DBACA);
  background: -moz-linear-gradient(#6DD2DB, #5DBACA);
  background: linear-gradient(#6DD2DB, #5DBACA);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.login {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 340px; 
  transform: translate(-50%, -50%);
}

.login-form {
  margin-top: 50px;
}

.login img {
  width: 100%;
}

.input-set {
  display: block;
  margin: 10px auto;
  width: 100%;
}

.login-input {
  display: block;
}

.signup-input {
  display: none;
}

.input-set span {
  display: inline-block;
  line-height: 40px;
  margin-right: 0;
  height: 40px;
  width: 40px;
  background-color: #fff;
  color: #42AAB3;
}

input {
  border: none;
  height: 40px;
  width: 300px;
  font-size: 18px;
}

.button {
  font-size: 14px;
  letter-spacing: 1px;
  width: 100%;
  margin-top: 10px;
  color: #fff;
  transition: all 0.2s ease;
}

.login-button {
  background-color: #6CD1DA;
}

.login-button:hover {
  background-color: #91E6ED;
}

.reminder {
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
  color: rgba(255,255,255,.7);
}

.reminder-2 {
  cursor: pointer;
  display: none;
}

.reminder-2:hover {
  color: rgba(255,255,255,1);
}

.signup-button {
  background-color: #FFB143;
}

.signup-button:hover {
  background-color: #FFD583;
}
