@import './style.css';

.right-probs {
  position: absolute;
  margin-left: 20%;
  margin-top: 90px;
  width: 78%;
  font-weight: 300;
  color: #666;
  box-shadow: 0 2px 0 rgba(0,0,0,0.15);
  border-radius: 3px;
  overflow: hidden;
}
.right-probs .probs .title {
  font-size: 16px;
  font-weight: 400;
}
.right-probs .prob {
  background: -webkit-linear-gradient(left , #48A3B6, #55BAC5);
  background: -o-linear-gradient(left , #48A3B6, #55BAC5);
  background: -moz-linear-gradient(left , #48A3B6, #55BAC5);
  background: linear-gradient(left , #48A3B6, #55BAC5);
  opacity: .85;
  color: #fff;
  width: 100%;
  min-height: 100px;
  padding: 0;
  transition: all 0.2s ease;
  background-repeat: no-repeat;
  background-position: 100%;
  cursor: pointer;
  border-bottom: 1px solid #71CDE0;
}
.right-probs .prob:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,.5);
  opacity: .95;
  transform: translateX(1px);
}
.right-probs .prob .wrapper {
  padding: 25px 20px;
}
.right-probs .prob .title {
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.right-probs .prob .tag {
  display: inline-block;
  font-size: 10px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,.7);
  padding: 7px 7px;
  transition: all 0.3s ease;
  margin-right: 5px;
}
.right-probs .prob .adobe {
  background-color: #e77b7b;
}
.right-probs .prob .adobe:after {
  content: 'Adobe';
}
.right-probs .prob .software {
  background-color: #9de7ee;
}
.right-probs .prob .software:after {
  content: 'Software';
}
.right-probs .prob .hardware {
  /*background-color: #9dcaee;*/
}
.right-probs .prob .hardware:after {
  content: 'Hardware';
}
.right-probs .prob .requester {
  float: right;
  font-size: 14px;
}
