@import './style.css';

.right-probs {
  position: absolute;
  margin-left: 20%;
  margin-top: 90px;
  width: 78%;
  font-weight: 300;
  color: #666;
}
.right-probs .probs .title {
  font-size: 16px;
  font-weight: 400;
}
.right-probs .prob {
  background: #fff;
  width: 100%;
  min-height: 100px;
  padding: 0;
  transition: all 0.2s ease;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: 100%;
  box-shadow: 0 2px 0 rgba(0,0,0,0.15);
  border-radius: 3px;
  cursor: pointer;
}
.right-probs .prob:hover {
  box-shadow: 0 3px 0 rgba(0,0,0,0.1);
  transform: translateY(-1px);
}
.right-probs .prob .wrapper {
  padding: 25px 20px;
}
.right-probs .prob .title {
  margin-bottom: 15px;
}
.right-probs .prob .tag {
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 7px 7px;
  transition: all 0.3s ease;
  margin-right: 5px;
}
.right-probs .prob .adobe {
  background-color: #e77b7b;
}
.right-probs .prob .adobe:after {
  content: 'Adobe';
}
.right-probs .prob .software {
  background-color: #9de7ee;
}
.right-probs .prob .software:after {
  content: 'Software';
}
.right-probs .prob .hardware {
  background-color: #9dcaee;
}
.right-probs .prob .hardware:after {
  content: 'Hardware';
}
.right-probs .prob .requester {
  float: right;
  font-size: 14px;
}
