@import 'nib'
@import './font-awesome.css'

*
  box-sizing border-box

body
  background-color #F3F3F3
  font-size 14px
  font-family Lato, sans-serif
  min-width 1000px
  color #4A4A4A

.fa
  margin-right 10px

a
  text-decoration none
  outline 0
  color rgb(60,60,60)

.left-navi
  position absolute
  width 18%
  min-height 100%
  background linear-gradient(#3F5655,#4A4A4A)
  font-size 14px
  letter-spacing 2px
  padding-bottom 100px
  img
    padding-left 20px 
    width 130px
    height auto
    padding-top 30px
    padding-bottom 20px
  .navi
    width 100%
    height 90px
    padding-left 20px
    transition all 0.3s ease
    display -webkit-box
    -webkit-box-align center
  .navi
    color #F3F3F3
    border-left 4px solid rgba(0,0,0,0)
    &:hover
      background #F3F3F3
      color #4A4A4A
      border-left 4px solid #60C8D1
  .navi-current
    background #F3F3F3
    color #4A4A4A
    border-left 4px solid #60C8D1

.greetings
  position absolute
  text-align left
  margin-left 20%
  margin-top 2%
  width 60%
  color #999999
  letter-spacing 1px
  font-size 14px
  font-style italic
  
.right-probs
  position absolute
  margin-left 20%
  margin-top 5%
  width 78%
  font-weight 300
  color #666
  .probs
    .title
      font-size 16px
      font-weight 400
  .prob
    background #fff
    width 100%
    min-height 100px
    padding 0
    transition all 0.2s ease
    margin-bottom 10px
    background-repeat no-repeat
    background-position 100%
    box-shadow 0 2px 0 rgba(0,0,0,.15)
    border-radius 3px
    &:hover
      box-shadow 0 3px 0 rgba(0,0,0,.1)
      transform translateY(-1px)
    .wrapper
      padding 25px 20px
    .title
      margin-bottom 15px
    .tag
      display inline-block
      font-size 10px
      font-weight 400
      color #fff
      text-align center
      border-radius 3px
      padding 7px 7px
      transition all 0.3s ease
      margin-right 5px
    .adobe
      background-color #E77B7B
      &:after
        content 'Adobe'
    .software
      background-color #9DE7EE
      &:after
        content 'Software'
    .hardware
      background-color #9DCAEE
      &:after
        content 'Hardware'
    .requester
      float right
      font-size 14px
    .btn-help
      display none
      padding-bottom -25px
      height 50px
      width 100%
      background-color #60C8D1
      text-align center
      font-size 14px
      font-weight 400
      line-height 50px
      color #fff
      transition all 0.3s ease
      &:after
        content 'I want to help!'
      &:hover
        background-color #7DDBE4
