<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ITHelpApp-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>684F8C6A1BC4943A0046345C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>684F8C7E1BC4943A0046345C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>684F8C891BC4943A0046345C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
