doctype html
html(lang='en')
  head
    title Oops! 
    style.
      body {
      background-color: #FFC247;
      }
      .image-404 {
      display: block;
      margin: 0 auto 0 auto;
      }
  body
    img.image-404(src='/image_404.svg')
