extends layout

block style
  link(rel='stylesheet', href='/css/chatting.css')

block content
  .greetings
    span.fa.fa-commenting
    span Chatting...
  .right-chat
  
  script(type='text/babel', src='/scripts/chatting.js')
