doctype html
html
  head
    title BriskIT

    link(rel='stylesheet', href='//brick.a.ssl.fastly.net/Lato:300,300i,400,400i,700')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto+Condensed:300')
    link(rel='icon', href='/favicon.svg', type='image/svg')
    block style

  body
    .left-navi
    block content

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='https://www.parsecdn.com/js/parse-latest.js')
    script(src='https://cdn.pubnub.com/pubnub-3.7.15.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js')

    script(src='/scripts/init.js')
    script(src='/scripts/helper.js')

    script(type='text/babel', src='/scripts/navi.js')
