doctype html
html
  head
    title BriskIT

    link(rel='stylesheet', href='//brick.a.ssl.fastly.net/Lato:300,300i,400,400i,700')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto+Condensed:300')
    link(rel='icon', href='/favicon.svg', type='image/svg')
    link(rel='stylesheet', href='/css/login.css')

  body
    .wrapper
        .login
            img(src='/logo.png')
            .login-form

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='https://www.parsecdn.com/js/parse-latest.js')
    script.
        Parse.initialize(
            "Dxf9sHTC4H9iQoYP7FUPmkX8o99KTTJ01O1tBhjK",
            "oXnaI5OgVYPggkBhyOkxhhI81eb4p9kvSU4a7fRr"
        );
        if (Parse.User.current() != null) {
            window.location.href = "/solve";
        }
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js')

    script(type='text/babel', src='/scripts/login.js')
