extends layout

block style
  link(rel='stylesheet', href='/css/solving.css')

block content
  .greetings
    span.fa.fa-commenting
    span Current sessions
  .right-probs
  
  script(type='text/babel', src='/scripts/solving.js')
