<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Sign Up/Login Box</title>

  <link rel="stylesheet" href="css/style.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
  <script src="https://cdn.pubnub.com/pubnub-dev.js"></script>
</head>

<body>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">

  <div id="logmsk" style="display: block;">
    <div id='close'>X</div>
    <div id="userbox">
      <h1 id="signup" style="background-color: rgb(118, 171, 219); background-position: initial initial; background-repeat: initial initial;">Sign up</h1>
      <div id="sumsk" style="display: none;">Sending</div>
      <input id="first" placeholder="First Name" style="opacity: 1; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
      <input id="last" placeholder="Last Name" style="opacity: 1; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
      <input id="email" placeholder="Email" style="opacity: 1; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
      <input id="name" placeholder="ID" style="opacity: 1; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
      <input id="pass" type="password" placeholder="Password" style="opacity: 1; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
      <p id="logint" style="opacity: 1;">Login as an existing user</p>
      <p id="nameal" style="display: none; opacity: 1;">ID:</p>
      <p id="passal" style="display: none; opacity: 1;">Password:</p>
      <button id="signupb" style="opacity: 0.2; cursor: default;">Sign up</button>
      <button id="requestb" style="opacity: 0.2; cursor: default;">Requests</button>
    </div>
  </div>

  <script src="js/app.js"></script>
  <script src="js/index.js"></script>
  <script src="js/auth.js"></script>
  <script src="js/request.js"></script>


  <script type="text/javascript">
  $(document).ready(function()
  {
    try {
      Parse.initialize("Dxf9sHTC4H9iQoYP7FUPmkX8o99KTTJ01O1tBhjK", "oXnaI5OgVYPggkBhyOkxhhI81eb4p9kvSU4a7fRr");
    } catch(err) {
      alert("TODO: parse not initizlized");
    }

    //ParseUser.enableRevocableSessionInBackground()
    //Parse.User._currentUser = new Parse.User();
    try {
      pb = PUBNUB({
        subscribe_key: 'sub-c-8e935f6a-6eb4-11e5-95b8-0619f8945a4f'
      });
    } catch (err) {
      alert("TODO: not subscribed to request channel")
    }

    //alert(pb)
  });

  </script>


</body>
</html>
